language: cpp
sudo: required
matrix:
  include:
    # works on Trusty with gcc
    - os: linux
      dist: trusty
      compiler: gcc
      env: MATRIX_EVAL="CC=gcc-8 && CXX=g++-8"
    # works on Trusty with clang
    - os: linux
      dist: trusty
      compiler: clang
      env: MATRIX_EVAL="CC=clang && CXX=clang++"
    # works on macOS with gcc
    - os: osx
      osx_image: xcode10
      compiler: gcc
      env: MATRIX_EVAL="CC=gcc-8 && CXX=g++-8"
    # works on macOS with clang
    - os: osx
      osx_image: xcode10
      compiler: clang
      env: MATRIX_EVAL="CC=clang && CXX=clang++"

addons:
  apt:
    sources:
      - llvm-toolchain-trusty-7
      - ubuntu-toolchain-r-test
    packages:
      - gcc-8
      - g++-8
      - clang-7

install:
  - |
    if [[ ${TRAVIS_OS_NAME} == "linux" ]]; then
      sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-8 60 --slave /usr/bin/g++ g++ /usr/bin/g++-8
      sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-7 100
      sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-7 100
      sudo apt install llvm python-virtualenv
      DEPS_DIR=${TRAVIS_BUILD_DIR}/deps
      CMAKE_URL="https://cmake.org/files/v3.12/cmake-3.12.3-Linux-x86_64.tar.gz"
      mkdir -p ${DEPS_DIR}/cmake
      travis_retry wget --no-check-certificate --quiet -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C ${DEPS_DIR}/cmake
      export PATH=${DEPS_DIR}/cmake/bin:${PATH}
    fi
  - |
    if [[ ${TRAVIS_OS_NAME} == "osx" ]]; then
      brew update
      brew cask uninstall oclint
      brew install gcc@8
      brew upgrade cmake
      pip install virtualenv
    fi

script:
  - eval "${MATRIX_EVAL}"
  - virtualenv venv
  - source venv/bin/activate
  - pip install conan
  - |
    if [[ `conan profile get settings.compiler default` == "gcc-8" ]]; then
      conan profile update settings.compiler.libcxx=libstdc++11 default
    fi
  - conan install . -s build_type=Release --build missing
  - mkdir build
  - cd build
  - cmake ..
  - make -j4
  - deactivate
